.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('icons/add.ico') no-repeat center center;
}
.icon-add-g{
	background:url('icons/add_g.ico') no-repeat center center;
}
.icon-point{
	background:url('icons/point.ico') no-repeat center center;
}
.icon-edit{
	background:url('icons/edit.ico') no-repeat center center;
}
.icon-clear{
	background:url('icons/clear.png') no-repeat center center;
}
.icon-remove{
	background:url('icons/remove.png') no-repeat center center;
}
.icon-pmwd{
	background:url('icons/pmwd.png') no-repeat center center;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}
.icon-task{
	background:url('icons/task.ico') no-repeat center center;
}
.icon-export{
	background:url('icons/export.png') no-repeat center center;
}
.icon-excel03{
	background:url('icons/excel03.png') no-repeat center center;
}
.icon-excel10{
	background:url('icons/excel10.png') no-repeat center center;
}
.icon-pdf{
	background:url('icons/pdf.png') no-repeat center center;
}
.icon-dbf{
	background:url('icons/dbf.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.ico') no-repeat center center;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}
.icon-kakaxi{
	background:url('icons/kakaxi.png') no-repeat center center;
}
.icon-exit{
	background:url('icons/exit.png') no-repeat center center;
}
.icon-locked{
	background:url('icons/locked.png') no-repeat center center;
}
.icon-key{
	background:url('icons/key.png') no-repeat center center;
}
.icon-submit{
	background:url('icons/submit.png') no-repeat center center;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-logo_mini{
	background:url('icons/logo_mini.ico') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('icons/filter.png') no-repeat center center;
}
.icon-man{
	background:url('icons/man.png') no-repeat center center;
}
.icon-lock{
	background:url('icons/lock.png') no-repeat center center;
}
.icon-verify{
	background:url('icons/verify.png') no-repeat center center;
}
.icon-more{
	background:url('icons/more.png') no-repeat center center;
}
.icon-data{
	background:url('icons/data.ico') no-repeat center center;
}
.icon-currclose{
	background:url('icons/currclose.png') no-repeat center center;
}
.icon-otherclose{
	background:url('icons/otherclose.ico') no-repeat center center;
}
.icon-closeall{
	background:url('icons/closeall.ico') no-repeat center center;
}

.icon-d-view{
	background:url('icons/d_view.png') no-repeat center center;
}
.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-finish{
	background:url('icons/finish.ico') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}
.icon-transactrates{
	background:url('icons/transactrates.png') no-repeat center center;
}
.icon-transactrate{
	background:url('icons/transactrate.png') no-repeat center center;
}

.icon-large-picture{
	background:url('icons/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('icons/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('icons/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('icons/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
	background:url('icons/large_chart.png') no-repeat center center;
}
